check1 LED開關.txt
[
    {
        "id": "2f717ac6.1fc886",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8c4434db.794e28",
        "type": "rpi-gpio in",
        "z": "2f717ac6.1fc886",
        "name": "Button",
        "pin": "12",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "da740d8a.56db7"
            ]
        ]
    },
    {
        "id": "da740d8a.56db7",
        "type": "switch",
        "z": "2f717ac6.1fc886",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "5d44e78a.9f1a48"
            ],
            [
                "284efbe9.fe0254"
            ]
        ]
    },
    {
        "id": "5d44e78a.9f1a48",
        "type": "change",
        "z": "2f717ac6.1fc886",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "a3b667e4.828a18"
            ]
        ]
    },
    {
        "id": "284efbe9.fe0254",
        "type": "change",
        "z": "2f717ac6.1fc886",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "a3b667e4.828a18"
            ]
        ]
    },
    {
        "id": "a3b667e4.828a18",
        "type": "rpi-gpio out",
        "z": "2f717ac6.1fc886",
        "name": "LED",
        "pin": "7",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 870,
        "y": 220,
        "wires": []
    }
]